<!DOCTYPE html>
<html>
    <head>
        <title>  </title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <!-- <script src="{{ url_for('static',filename='javascriptFileName.js') }}"> </script> -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
        <!--  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('home') }}">
              <img src="../static/img/book.jpg"  width="50" height="50" alt="">
            </a>
            <!-- Search form -->
            <form method="POST" class="form-inline">
                <div style="display: flex;"> 
                    <img src="../static/img/search.png" style="margin-top:  1%;" width="20" height="20" alt="">
                    <input class="form-control form-control-sm ml-3 w-100" name="searcher" id="searcher1" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>

            <a class="navbar-brand" href="{{ url_for('sign_out') }}">
                <button type="button" class="btn btn-warning">Logout</button>
            </a>
          </nav>
        <div style="background-color: yellowgreen; height: 500px" class="container">
            <h3>Here in the feeeeeeed {{ user.username }}!</h3>


        </div>
    </body>
</html>