<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <!-- <script src="{{ url_for('static',filename='javascriptFileName.js') }}"> </script> -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
        <!--  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    </head>
    <body>
            <!-- <div class="alert alert-danger" role="alert" id="danger-alarm">
                    A simple danger alert—check it out!
                  </div>
                  <div class="alert alert-success" role="alert" id="success-alarm">
                        A simple success alert—check it out!
                      </div> -->
        {% if user.auth_failed %}
            <div class="alert alert-danger" role="alert">
                {{ user.err_msg }}
            </div>
        {% endif %}

        <!-- {% if user.auth_failed %}
            <div class="alert alert-success" role="alert">
                Success! 
            </div>
        {% endif %} -->

        <div class="container">
            <div style="padding: 5%;">
                <div class="jumbotron">
                    <h1> Welcome to the new book club! </h1>

                    <div>
                        <form method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a style="display: flex; padding-top: 1%; " href="{{ url_for('register') }}">
                                New user? Register here. 
                            </a>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </body>
</html>